task 1

In [1]:
print(10>9)
print (10 == 9)
print (10<9)

True
False
False

task 2

In [2]:
a=2
b=1
if b>a:
 print ("b is greater then a")
else:
 print ("a is greater then b")

a is greater then b

task 3

In [3]:
print(bool("Hello"))
print(bool(15))

True
True

task 4

In [4]:
x="Hello"
y=15
print(bool(x))
print(bool(y))

True
True

task 5

In [5]:
print(bool(123))
print (bool("Hell"))
print (bool(["apple", "cherry"]))

True
True
True

task 6

In [6]:
print(bool(0))
print (bool(""))
print(bool(None))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False

task 7

In [7]:
class myclass():
 def __len__(self):
  return 0
myobj = myclass()
print(bool(myobj))

False

task 8

In [8]:
def myfunctin():
 return True
print (myfunctin())

True

task 9

In [9]:
def muf():
 return True


if muf():
 print ("YES")
else :
 print ("NO")

YES

task 10

In [10]:
x=200.00
print(isinstance(x, int))

False

task 11

In [11]:
x = 5
y = 3

print(x + y)

8

task 12

In [12]:
x = 5
y = 3

print(x - y)

2

task 13

In [14]:
x = 5
y = 3

print(x * y)

15

task 14

In [15]:
x = 13
y = 3

print(x / y)

4.333333333333333

task 15

In [16]:
x = 5
y = 2

print(x % y)

1

task 16

In [17]:
x = 2
y = 5

print(x ** y)
#like degree

32

task 17

In [18]:
x = 15
y = 2

print(x // y)
#round under

7

task 18

In [19]:
x = 5

x &= 3

print(x)

1

task 19

In [20]:
x = 5

x |= 3

print(x)

7

task 20

In [21]:
x = 5

x ^= 3

print(x)

6

task 21

In [22]:
x = 5

x >>= 3

print(x)

0

rask 22

In [23]:
x = 5

x <<= 3

print(x)

40

task 23

In [29]:
print(x := 3)
"""
x=3
print(x)
"""

3

'\nx=3\nprint(x)\n'

task 24

In [30]:
x = 5

print(x > 3 and x < 10)

True

task 25

In [31]:
x = 5

print(x > 3 or x < 4)

True

In [32]:
x = 5

print(not(x > 3 and x < 10))
#not can reverce the result

False

task 26

In [33]:
x = ["AAAA", "BBBB"]
y = ["AAAA", "BBBB"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

task 37

In [34]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

task 28

In [35]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

task 29

In [36]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

task 30

In [37]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

task 31

In [39]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

task 32

In [40]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

task 33

In [42]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)
#double (())

['apple', 'banana', 'cherry']

tsk 35

In [43]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
#index=0

banana

task 36

In [44]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

task 37

In [46]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

task 38

In [47]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

task 39

In [48]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

    TASK 40

In [58]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-5:-1])

['cherry', 'orange', 'kiwi', 'melon']

tas k 41

In [59]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

task 42

In [60]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

task 43

In [63]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

task 44

In [64]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

task 45

In [65]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

task 46

In [67]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

task 47

In [68]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

tas k48

In [69]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

task 49

In [70]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

task 50

In [71]:
list1= ["apple", "cherry"]
list2= ["banana", "orangw"]
list1.extend(list2)
print (list1)

['apple', 'cherry', 'banana', 'orangw']

task 51

In [72]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

task 52

In [75]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

task 53

In [77]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)
#the last element

['apple', 'banana']

task 54

In [78]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

task 55

In [81]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

tassk 56

In [82]:
list1=["apple", "banana"]
for x in list1:
 print(x)

apple
banana

task 57

In [83]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

task 58

In [84]:
list1=["banana", "apple", "cherry"]
i=0
while i<len(list1) :
    print (list1[i])
    i=i+1

banana
apple
cherry

task 59

In [86]:
list1=["banana", "orrange"]
[print(x) for x in list1]

banana
orrange

[None, None]

task 60

In [92]:
fruit=["banana","apple"]
newlist=[]

for x in fruit:
    if 'n' in x:
        newlist.append(x)
print (newlist)

['banana']

task 61

In [88]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

tsk 62

In [89]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

task 63

In [93]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

task 64

In [94]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

task 65

In [96]:
fruits=["apple", "banana", "cherry"]
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY']

task 66

In [98]:
fruit=['apple', 'banana', 'cherrry']
newlist = ['hello' for x in fruit]
print(newlist)

['hello', 'hello', 'hello']

task 67

In [100]:
fruit=['banana', 'orange', 'apple']
newlist=[x if x!='orange' else 'cherry' for x in fruit]
print (newlist)

['banana', 'cherry', 'apple']

task 68

In [101]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

task 69

In [102]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

task 70

In [103]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

task 71

In [104]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

task 72

In [105]:
def myfunc(x):
  return abs(x - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

task 73

In [106]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

task 74

In [107]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

TASK 75

In [108]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

TASK 76

In [109]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Task 77

In [110]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

task 78

In [111]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Task 79

In [112]:
ist1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

task 80

In [113]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

task 81

In [114]:
fruits = ["apple", "banana", "cherry"]

x = fruits.count("cherry")

print(x)

1

task 82

In [115]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

task 83

In [116]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

task 84

In [117]:
thistuple = ( "banana", "apple")
print(len(thistuple))

2

task 85

In [118]:
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple
thistuple = ("apple",)
print(type(thistuple))

thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

task 86

In [119]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

task 87

In [120]:
tuple=("abc", 123, True, False)
print (tuple)

('abc', 123, True, False)

task 88

In [124]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

task 89

In [125]:
tuple=('apple', 'banana', 'mers')
print(tuple[-1])

mers

task 90

In [126]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

task 91

In [127]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

task 92

In [128]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

task 93

In [1]:
x = ("apple", "cherry")
y = list(x)
y[1] = "kiwi"
x = list(y)

print(x)

['apple', 'kiwi']

task 94

In [2]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = list(y)

print(thistuple)

['apple', 'banana', 'cherry', 'orange']

task 95

In [135]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple =thistuple + y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

task 96

In [4]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = list(y)

print(thistuple)

['banana', 'cherry']

task 97

In [139]:
#unpacking
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

task 98

In [140]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, tropic, *red) = fruits

print(green)
print(tropic)
print(red)

apple
mango
['papaya', 'pineapple', 'cherry']

task 99

In [141]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

task 100

In [142]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

task 101

In [144]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

task 102

In [145]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

task 103

In [146]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

task 104

In [147]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

task 105

In [148]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

task 106

In [149]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

task 107

In [150]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

task 108

In [151]:
#unorder set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

task 109

In [153]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)
#true=1

{True, 2, 'apple', 'cherry', 'banana'}

task 1110

In [154]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

111 task

In [155]:
thiset={"banna", "apple", "cherry"}
print(len(thiset))

3

task 112

In [156]:
set1 = {"apple", "banana",  "banana" ,"cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

task 113

In [157]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

task 114

task 114

In [159]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)
#create set

{'banana', 'apple', 'cherry'}

task 115

In [160]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

task 116

In [161]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

task 117

In [162]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

task 118

In [163]:
#use add
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

task 119

In [165]:
#use update to sum two sets
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'mango', 'cherry', 'banana', 'pineapple', 'papaya'}

task 120

In [166]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'cherry', 'orange', 'kiwi', 'apple'}

task 121

In [167]:
#use the remove(), or the discard() method.
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

task 122

In [168]:
tset={"BANANA" , "APPLE"}
tset.discard("BANANA")
print(tset)

{'APPLE'}

task 123

In [170]:
#random
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

task 124

In [171]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

task 125

In [178]:
set1={1,2,3,4}
set2={5,6,7,8}
set3=set1.union(set2)
print (set3)

{1, 2, 3, 4, 5, 6, 7, 8}

task 126

In [179]:
set1={1,2,3,4}
set2={5,6,7,8}
set3=set1 | set2
print (set3)

{1, 2, 3, 4, 5, 6, 7, 8}

task 127

In [180]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)
#u can use with another types, but answer will be in set format

{'a', 1, 2, 3, 'b', 'c'}

task 128

In [182]:
set1={"A", "B", "C"}
set2={1,2,3,4}
set1.update(set2)
print (set1)

{1, 2, 3, 'B', 'C', 4, 'A'}

task 129

In [183]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

task 130

In [184]:
#Use /"&/" to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

task 131

In [185]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)
#donot create an additional set, keep only dublicate

{'apple'}

task 132

In [186]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

task 133

In [187]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

task 134

In [188]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1-set2

print(set3)

{'banana', 'cherry'}

task 135

In [189]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

task 136

In [190]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

task 137

In [191]:
#You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

task 138

In [192]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'microsoft', 'google', 'cherry'}

task 139

In [193]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

task 140

In [195]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

task 141

In [196]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

task 142

In [197]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

TASK !$#

In [198]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

task 144

In [199]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

task 145

In [201]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

task 146

In [202]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

task 147

In [203]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) 

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

task 148

In [204]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

task 149

In [205]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)

car["year"] = 2020

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

task 150

In [206]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

task 151

In [207]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

task 152

In [208]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

task 153

In [209]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

task 154

In [210]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

task 155

In [211]:
#the last element
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

task 156

In [212]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

task 157

In [213]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

task 158

In [214]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

task 159

In [215]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

task 160

In [216]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

task 161

In [217]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

task 162

In [218]:
#only copy()

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

task 163

In [219]:
#or dict()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

task 164

In [221]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

task 165

In [222]:
#another way, to unite
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

task 166

In [224]:
#to choose option

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily["child2"]["name"])

Tobias

task 167 ifelse

In [225]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

task 168

In [226]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

task 169

In [228]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

task 170

In [229]:
#one line
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

task 171

In [230]:
a = 2
b = 330
print("A") if a > b else print("B")

B

task 172

In [231]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

task 173

In [232]:
#logical and

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

task 174

In [233]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")
    #logical or

At least one of the conditions is True

task 175

In [234]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

task 176

In [235]:
#double if
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

task 177

In [236]:
#if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

a = 33
b = 200

if b > a:
  pass

task 178

In [237]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

task 179

In [238]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

task 180

In [239]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

task 181

In [240]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

tasl 182

In [241]:
for x in "banana":
  print(x)

b
a
n
a
n
a

task 183

In [242]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

task 184

In [244]:
fruits = ["apple","BANANA", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple
BANANA

task 185

In [245]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

task 186

In [246]:
for x in range(6):
  print(x)

0
1
2
3
4
5

task 187

In [247]:
for x in range(2, 6):
  print(x)

2
3
4
5

task 188

In [250]:
#the step
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

task 189

In [251]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

TASK 190

In [252]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

task 191

In [254]:
#double loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

task 192
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [255]:
for x in [0, 1, 2]:
  pass